# User-specific files
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
bin/
obj/

# Ignore only development secrets
appsettings.json
appsettings.Development.json

# បន្ថែមការកំណត់ស្តង់ដារសម្រាប់ .NET
[Bb]in/
[Oo]bj/
.vs/
.vscode/
*.user